name: Tests on github (update RESULTS.TXT)

on:
  workflow_dispatch:
  schedule:
    # every day at 3:00 AM
    - cron:  '0 3 * * *'
  pull_request:
  # push:
  #   branches:
  #     - master
      
jobs:
  
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: "install uv"
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: "install golang"
        run: |
          sudo apt-get -y install golang-go

      - name: "install php"
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none

      - name: "install codon"
        run: |
          source ./.github/workflows/install_codon.sh

      - name: "install nim2"
        uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: '2.0.x' # ex: 1.0.x, 1.2.x, 1.4.x, 2.0.x ...

      - name: install pypy3.9
        uses: actions/setup-python@v4 
        with:
          python-version: 'pypy3.9' 

      - name: make python3 & pypy3 differents
        run: |
          sudo rm `which python3`
          which python3
          which pypy3

      - name: "install mojo"
        run: |
          uv add mojo

      - name: test make help
        run: |
          chmod +x make.py
          ./make.py 

      - name: tests all
        run: |
          MOJO_PYTHON_LIBRARY="/usr/lib/x86_64-linux-gnu/libpython3.12.so" ./make.py . specialized

      - name: show stats
        run: |
          ./make.py stats . specialized

      - name: Append stats to RESULTS.TXT (backuped in repo! (persistent))
        run: |
          ./make.py snapshot >> RESULTS.TXT

      - name: Create page RESULTS.md
        run: |
          python3 generate_page.py RESULTS > RESULTS.md

      - name: Commit results
        uses: EndBug/add-and-commit@v9
        with:
          author_name: github
          author_email: mail@example.com
          message: 'update results from github'
          add: 'RESULTS.*'
